<div class="modal">
  <ion-header-bar>
    <h1 class="title">Filters</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFilter()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <ul class="list">
        <li class="item item-toggle">
           Reddit
           <label class="toggle toggle-reddit">
             <input type="checkbox" ng-model="filters.reddit">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Instagram
           <label class="toggle toggle-instagram">
             <input type="checkbox" ng-model="filters.instagram">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Twitter
           <label class="toggle toggle-twitter">
             <input type="checkbox" ng-model="filters.twitter">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </ul>
    </div>
  </ion-content>
</div>
